@import "https://unpkg.com/open-props";

:root {
  --size-16: 40rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Composition */

* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 48px;
}

body {
    font-family: var(--font-sans);
    background-color: var(--gray-8);
    color: var(--gray-1);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: var(--gray-1);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-3);
}

h1 {
  font-size: var(--font-size-5);
  display: inline-block;
}

h2 {
  font-size: var(--font-size-8);
}

h3 {
  font-size: var(--font-size-6);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-3);
}

nav {
    display: grid;
    grid-template-columns: max-content 1fr;
    position: sticky;
    top: 0;
    background-color: hsl(214, 14%, 10%, 90%);
    z-index: 2;
    padding-inline: clamp(1rem, -21.1538rem + 34.6154vw, 10rem);
}

section {
    text-align: center;
    padding-block: var(--size-3);
    padding-inline: clamp(1.75rem, -30.8654rem + 50.9615vw, 15rem);
}

ul {
  margin: 0;
}

p > a {
  text-decoration: underline dotted;
}

p > a:hover {
  text-decoration: underline solid;
}

/* Utilities */

.bg-gray-6 {
    background-color: var(--gray-6);
}

.bg-gray-7 {
  background-color: var(--gray-7);
}

.bg-gray-8 {
    background-color: var(--gray-8);
}

.bg-gray-9 {
  background-color: var(--gray-9);
}

.bg-blue-8 {
    background-color: var(--blue-8);
}

.bg-red-10 {
  background-color: var(--red-10);
}

.bg-purple-9 {
  background-color: var(--purple-9);
}

.bg-pink-7 {
  background-color: var(--pink-7);
}

.bg-lime-6 {
  background-color: var(--lime-6);
}

.bg-teal-6 {
  background-color: var(--teal-6);
}

.bg-orange-6 {
  background-color: var(--orange-6);
}

.bg-jungle-6 {
  background-color: var(--jungle-6);
}

.bg-gray-0 {
  background-color: var(--gray-0);
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Block */

.flow > * + * {
  margin-top: var(--size-2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-13), 1fr));
    place-items: center;
    margin-block: var(--size-10);
    row-gap: var(--size-10);
    column-gap: var(--size-11);
    align-items: start
}

.card {
    max-width: var(--size-14);
    z-index: 0;
    text-align: start;
}

.card-image {
  border-radius: var(--radius-3);
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
}

.card-name {
  position: absolute;
  bottom: 0;
  background-color: hsl(214, 14%, 10%, 90%);
  width: 100%;
  padding-block: var(--size-2);
  text-align: center;
}

.card-tags {
  display: flex;
  gap: var(--size-1);
}

.tag {
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-4);
  border-radius: var(--radius-2);
  padding-inline: var(--size-2);
  padding-block: var(--size-00);
}

.card-description {
  text-align: justify;
  padding-inline: var(--size-3);
}

.video {
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
}

.video video {
  width: 100%;
}

.video iframe {
  width: 90%;
}

.video iframe {
  aspect-ratio: 16 / 9;
}

.hero-video {
  overflow: hidden;
  max-height: var(--size-16);
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--font-size-3);
  height: var(--font-size-3);
}

.icon svg {
  width: var(--font-size-2);
  height: var(--font-size-2);
}

.icon-mobile-menu {
  width: var(--font-size-9);
  height: var(--font-size-9);

  justify-self: right;
}

.icon-mobile-menu svg {
  width: var(--font-size-6);
  height: var(--font-size-6);
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: var(--font-size-2);
  gap: var(--size-2);
}

#menu-mobile {
  position: fixed;
  width: 100%;
  background-color: hsl(214, 14%, 10%, 90%);
  padding-inline: var(--size-4);
  padding-block: var(--size-6);
  transform: translateX(0%);
  transition: transform 300ms;
  z-index: 1;
}

#menu-mobile.close {
  transform: translateX(100%);
}

.menu-large {
  display: flex;
  gap: var(--font-size-5);
  justify-self: right;
}

.small-title {
  font-size: var(--font-size-4);
  display: inline-block;
}

.panel {
  background-color: hsl(214, 14%, 10%, 90%);
  margin-block: var(--size-4);
  border-radius: var(--radius-3);
  padding-inline: var(--size-6);
  padding-block: var(--size-4);
  text-align: justify;
}

.project-info {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-inline: auto;
  justify-content: center;
  gap: var(--size-2);
}

.project-info > :nth-child(2n + 1) {
  font-weight: var(--font-weight-5);
}

.images {
  display: flex;
  gap: var(--size-3);
  justify-content: center;
}

.images.rp-maps > img {
  width: 23%;
}

.images.csoy-camera > img {
  width: 45%;
}

.images.rp-results > img {
  width: 60%;
  background-color: var(--gray-0);
}

.images.csoy-totem > img {
  width: 45%;
}

.country-flag {
  background-repeat: no-repeat;
  background-image: url(/assets/FlagSprite.webp);
  width: 16px;
  height: 11px;
  background-size: 304px auto;
}

.country-flag.english {
  background-position: -126px -39px;
}

.country-flag.france {
  background-position: 0px -52px;
}

/* Media Query */

@media (width < 1024px) {
  html {
    scroll-padding-top: 40px;
  }
  
  .hidden-mobile {
    display: none;
  }
}

@media (width >= 1024px) {
  .hidden-large {
    display: none;
  }
}
